!!! 5
%html
  %head
    %title The Socketeer
    :css
      body {
        -webkit-perspective: 350px;
        -webkit-perspective-origin: 50% 50% ;
      }

  %body
    #clunkbin
    #nodecopter
      HELLO I AM A NODE COPTER

    %script{src: '/socket.io/socket.io.js'}
    %script{src: 'jquery.min.js'}
    %script{src: 'json2.js'}
    %script{src: 'socketeer-client.js'}
